<!DOCTYPE html>
<html>

<head>
	<title>Novo Pacote Criado</title>
	<meta charset="utf-8">
</head>

<body>
	<h1>Novo pacote criado!</h1>
	<!-- Tabela para exibir os detalhes do novo pacote criado-->
	<table border="1">
		<tr>
			<th>ID:</th>
			<td>
				<span th:text="${novoPacote.id}"></span>
			</td>
		</tr>
		<tr>
			<th>Nome:</th>
			<td>
				<span th:text="${novoPacote.id}"></span>
			</td>
		</tr>
		<tr>
		<tr>
			<th>imagem:</th>
			<td>
				<span th:text="${novoPacote.foto}"></span>
			</td>
		</tr>
		<tr>
			<th>imagem 1:</th>
			<td>
				<span th:text="${novoPacote.foto_card1}"></span>
			</td>
		</tr>
		<tr>
			<th>imagem 2:</th>
			<td>
				<span th:text="${novoPacote.foto_card2}"></span>
			</td>
		</tr>
		<tr>
			<th>imagem 3:</th>
			<td>
				<span th:text="${novoPacote.foto_card13}"></span>
			</td>
		</tr>
		<tr>
			<th>imagem 4:</th>
			<td>
				<span th:text="${novoPacote.foto_card4}"></span>
			</td>
		</tr>
		<tr>
			<th>Preço:</th>
			<td>
				<span th:text="${novoPacote.preco}"></span>
			</td>
		</tr>
		<tr>
			<th>Duração:</th>
			<td>
				<span th:text="${novoPacote.duracao}"></span>
			</td>
		</tr>
		<tr>
			<th>Descrição:</th>
			<td>
				<span th:text="${novoPacote.descricao_lugar}"></span>
			</td>
		</tr>
		<tr>
			<th>Descrição card esquerdo:</th>
			<td>
				<span th:text="${novoPacote.descricao_card_esquerdo}"></span>
			</td>
		</tr>
		<tr>
			<th>descrição card do centro:</th>
			<td>
				<span th:text="${novoPacote.descricao_card_centro}"></span>
			</td>
		</tr>
		<tr>
			<th>Descrição card direito:</th>
			<td>
				<span th:text="${novoPacote.descricao_card_direito}"></span>
			</td>
		</tr>

	</table>
</body>

</html>